.container {
  margin: 3rem auto;
  display: flex;
  border-radius: 1.5rem;
  /* padding: 1rem; */
  justify-content: space-between;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 47%;
  background: #171821;
  color: #91a0b5;
  padding: 3rem;
  border-radius: 1rem;
}

.card img {
  height: 20rem;
}

.card h1 {
  font-size: 2rem;
  margin: 1rem;
}

.card a {
  text-decoration: none;
  color: white;
}

.card a:hover {
  color: rgb(95, 95, 217);
}
