.section {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  margin: 0rem auto;
  padding: 0 2rem;
  background-color: black;
}

.left {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.right {
  width: 40%;
}

.left h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}
.left p {
  font-size: 1.1rem;
  margin-bottom: 1.9rem;
}

.btnGroup {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  background: #ebe5e5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: white;
  color: black;
}
